//- extends ../../layouts/account

//- block head
//-   title Account Area

//- block neck
//-   link(rel='stylesheet', href='/views/account/index.min.css?#{cacheBreaker}')

//- block feet
  //- script(src='/views/account/index.min.js?#{cacheBreaker}')

block body
  link(rel='stylesheet', href='/layouts/core.min.css?#{cacheBreaker}')
  link(rel='stylesheet', href='/views/account/test.css')

  div#bgImage
    img(src='/media/green-grnatureland-and-clear-blue-skies-sky-with-clouds-cartoon-32814.jpg')

  div#icon
    img(src='/media/icon.png')
  div#WelcomePage
    div#Menu
      div#btn-container
        h1 Welcome, Isaac 
        br
        br
        a.btn-block.btn.lg.btn-success Play
        br
        br
        a.btn-block.btn.lg.btn-warning Leader Board
        br
        br
        a.btn-block.btn.lg.btn-primary History
        br
        br
        a.btn-block.btn.lg.btn-danger Logout

  //- div.row
  //-   div.col-sm-6
  //-     div.page-header
  //-       h1 My Account
  //-     div.row
  //-       div.col-sm-4
  //-         div.well.stat
  //-           div.stat-value.day-of-year --
  //-           div.stat-label Day of Year
  //-       div.col-sm-4
  //-         div.well.stat
  //-           div.stat-value.day-of-month --
  //-           div.stat-label Day of Month
  //-       div.col-sm-4
  //-         div.well.stat
  //-           div.stat-value.week-of-year --
  //-           div.stat-label Week of Year
  //-     div.row
  //-       div.col-sm-4
  //-         div.well.stat
  //-           div.stat-value.day-of-week --
  //-           div.stat-label Day of Week
  //-       div.col-sm-4
  //-         div.well.stat
  //-           div.stat-value.week-year --
  //-           div.stat-label Week Year
  //-       div.col-sm-4
  //-         div.well.stat
  //-           div.stat-value.hour-of-day --
  //-           div.stat-label Hour of Day
  //-   div.col-sm-6.special
  //-     div.page-header
  //-       h1 Go Faster Everyday
  //-     i.fa.fa-dashboard.super-awesome
