//- extends ../layouts/default

//- block head
//-   title Ludo Project

//- block neck
//-   link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

//- block body
//-   div.jumbotron
//-     h1 Success
//-     p.lead
//-       | Your Node.js website and user system is running. May the force be with you.
//-       div
//-         a.btn.btn-success.btn-lg(href='/play/') Play 
//-         |  or&nbsp;
//-         a.btn.btn-primary.btn-lg(href='/login/') Login 
//-         |  or&nbsp;
//-         a.btn.btn-primary.btn-lg(href='/signup/') Create an Account
//-         |  or&nbsp;
//-         a.btn.btn-warning.btn-lg(href='/login/forgot/') Reset Your Password
//-       div.clearfix
//-   div.row
//-     div.col-sm-4
//-       div.panel.panel-default
//-         div.panel-body
//-           h3 About Us
//-           p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.
//-           a.btn.btn-default.btn-block(href='/about/') Learn More
//-     div.col-sm-4
//-       div.panel.panel-default
//-         div.panel-body
//-           h3 Sign Up
//-           p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.
//-           a.btn.btn-default.btn-block(href='/signup/') Learn More
//-     div.col-sm-4
//-       div.panel.panel-default
//-         div.panel-body
//-           h3 Contact Us
//-           p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.
//-           a.btn.btn-default.btn-block(href='/contact/') Learn More

block body
  link(rel='stylesheet', href='/layouts/core.min.css?#{cacheBreaker}')
  link(rel='stylesheet', href='/views/account/test.css')

  div#bgImage
    img(src='/media/green-grnatureland-and-clear-blue-skies-sky-with-clouds-cartoon-32814.jpg')

  div#icon
    img(src='/media/icon.png')
  div#WelcomePage
    div#Menu
      div#btn-container
        h1 Welcome
        br
        br
        a.btn-block.btn.lg.btn-success Play
        br
        br
        a.btn-block.btn.lg.btn-primary Login
        br
        br
        a.btn-block.btn.lg.btn-primary Sign Up
        br

        a(href='#')
          img.social-icon.img-rounded(src='/media/facebook.png')
        a(href='#') 
          img.social-icon.img-rounded(src='/media/googlePlus.png')